.custom-alert {
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  right: 10px;
  top: 20px;
  border-radius: 4px;
}
.custom-alert.success {
  background-color: #c2f4d6;
  border-left: 8px solid #2bcf70;
}
.custom-alert.error-bg {
  background-color: #fee2e3;
  border-left: 8px solid #fb485a;
}
.custom-alert .exclamation-alert,
.custom-alert .success-alert {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
}
.custom-alert .exclamation-alert {
  color: #fb485a;
}
.custom-alert .success-alert {
  color: #2bcf70;
}
.custom-alert .msg {
  padding: 0 20px;
  font-size: 18px;
}

.custom-alert .msg {
  padding: 0 20px;
  font-size: 18px;
  font-weight: bold;
}
.custom-alert .msg.success {
  color: #7cbc95;
}
.custom-alert .msg.error-bg {
  color: #ea9c99;
}
.custom-alert .close-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 21px 18px;
}
.custom-alert .close-btn.success {
  background-color: #97ebb9;
}
.custom-alert .close-btn.error-bg {
  background-color: #ff9aa5;
}

.custom-alert.show {
  animation: show_slide 1s ease forwards;
}
.custom-alert.hide {
  display: none;
}
.close-btn .close svg {
  font-size: 22px;
  line-height: 40px;
}

@keyframes show_slide {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-10%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 480px) {
  .custom-alert {
    min-width: 360px;
    right: -5px;
    top: 20px;
    padding: 15px 30px;
  }
  .custom-alert .msg {
    font-size: 14px;
  }
  .custom-alert .close-btn {
    padding: 15px 15px;
  }
  .custom-alert .exclamation-alert,
  .custom-alert .success-alert {
    font-size: 20px;
  }
}

@media only screen and (min-device-width: 300px) and (max-device-width: 370px) {
  .custom-alert {
    min-width: 330px;
    right: -10px;
    top: 20px;
    padding: 15px 25px;
  }
  .custom-alert .msg {
    font-size: 13px;
  }
  .custom-alert .close-btn {
    padding: 15px 12px;
  }
  .custom-alert .exclamation-alert,
  .custom-alert .success-alert {
    font-size: 17px;
  }
}
